body {
	margin: 0;
	font-family: 'Arial', 'Courier New';
	background-image: linear-gradient(0deg, #c7057f 0%, #2a1f6d 100%);
	color: white;
}

header {
	height: 100px;
	text-align: center;
}
main {
	padding-top: 50px;
}
.comments-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 80px 0;
	justify-content: center;
	max-width: 1024px;
}
.book h3 {
	background-color: #ffffff29;
	padding: 7px;
	margin: 1px;
	color: white;
}
.comment {
	font-size: 14px;
	padding: 7px;
	margin: 1px;
	width: 130px;
	cursor: pointer;
	color: white;
	background-color: #4a4083c0;
}
section {
	display: flex;
	gap: 100px;
}
.whole-comment-container {
	display: flex;
	position: fixed;
	width: 620px;
	min-height: 80px;
	top: 90px;
	left: 0;
	right: 0;
	padding: 10px;
	margin: 40px auto;
	background: #ffffff;
	color: black;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px black;
	cursor: pointer;
}
.buttons-container {
	width: 40px;
	display: flex;
	gap: 5px;
	flex-direction: column;
}
.buttons-container figure {
	display: inline-block;
	width: 20px;
	margin: 0;
	height: 20px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px black;
	cursor: pointer;
	background-color: #ffffff;
}
.backspace-img {
	margin-top: 2px;
}
#whole-comment-text {
	margin: 0;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	text-align: center;
}
