:root {
	/* --background-color: linear-gradient(0deg, #c7057f 0%, #2a1f6d 100%); */
	--background-color: rgb(229, 226, 226);
	/* --primary-color: #4a4083c0; */
	--primary-color: rgb(248 248 248);
	/* --secondary-color: #ffffff29; */
	--secondary-color: rgb(235 235 235);
	/* --text-color: white; */
	--text-color: black;
}
body {
	background-image: var(--background-color);
	/* color: var(--text-color); */
}

.instructions {
	width: 500px;
	margin: 0 auto;
	left: 0;
	right: 0;
	color: var(--text-color);
}

.comments-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 80px 0;
	justify-content: center;
	max-width: 1024px;
}
.book h3 {
	background-color: #ffffff29;
	padding: 7px;
	margin: 1px;
	color: var(--text-color);
}
tr {
	/* background-color: #ffffff29; */
	padding: 7px;
	margin: 1px;
	color: var(--text-color);
	width: 100px;
}
.book td{
	vertical-align: middle;
}
.comment {
	background-color: var(--primary-color);
	font-size: 13px;
	padding: 5px;
	/* margin: 1px; */
	width: 155px;
	cursor: pointer;
	color: var(--text-color);
}
.title-comment {
	background-color: var(--secondary-color);
	/* font-size: 13px; */
	padding: 5px;
	/* margin: 1px; */
	width: 155px;
	cursor: pointer;
	padding: 7px;
	color: var(--text-color);
}
section {
	display: flex;
	gap: 100px;
}

table {
	border-collapse: separate;
	border-spacing: 1px 1px;
	margin: 0 auto;
}
.whole-comment-container {
	display: flex;
	position: fixed;
	width: 620px;
	min-height: 80px;
	top: 99px;
	left: 0;
	right: 0;
	padding: 10px;
	margin: 40px auto;
	background: #ffffff;
	color: black;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px black;
	cursor: pointer;
}
.buttons-container {
	width: 40px;
	display: flex;
	gap: 5px;
	flex-direction: column;
}
.buttons-container figure {
	display: inline-block;
	width: 30px;
	margin: 0;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px black;
	cursor: pointer;
	background-color: #ffffff;
}
.backspace-img {
	margin-top: 2px;
}
#whole-comment-text {
	margin: 0;
}

/* Utils */
#copied-message-alert {
	z-index: 1;
	width: 540px;
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.last-updates {
	padding-top: 3rem;
	color: var(--text-color);
}