* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
.separator {
	height: 6px;
	background-image: linear-gradient(0deg, #c7057f 0%, #2a1f6d 100%);
}
table {
	margin: 0 auto;
	max-width: 90%;
	border-collapse: collapse;
}
#copied-message-alert {
	z-index: 1;
	width: 320px;
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
}
#ruta {
	cursor: pointer;
	text-decoration: underline;
}
.hidden {
	color: transparent;
}

.instructions {
	padding-left: 2.5rem;
}
.last-update {
	padding-right: 2.5rem;
}